[submodule "Hazard/vendor/glfw"]
	path = Hazard/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Hazard/vendor/glm"]
	path = Hazard/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hazard/vendor/spdlog"]
	path = Hazard/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazard/vendor/yaml-cpp"]
	path = Hazard/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Hazard/vendor/box2d"]
	path = Hazard/vendor/box2d
	url = https://github.com/TheCherno/box2d
[submodule "HazardEditor/vendor/imgui"]
	path = HazardEditor/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Hazard/vendor/Metal-CPP"]
	path = Hazard/vendor/Metal-CPP
	url = https://github.com/bkaradzic/metal-cpp
[submodule "Hazard/vendor/nfd-extended"]
	path = Hazard/vendor/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "Hazard/vendor/portable-file-dialogs"]
	path = Hazard/vendor/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
