/.vs
/bin
/bin-int
/Assimp
/GLAD
/ImGui
/JSONParser
/vendor
/Hazard/vendor/VulkanSDK


/*.vcxproj.*
**/*.vcxproj

HazardEditor/res/Textures/chapmans_drive_8k.hdr
HazardEditor/res/Audio/Axel Wernberg  Infinity.mp3
Logs/HazardProfile-Startup.json
Logs/HazardProfile-Shutdown.json
Logs/HazardProfile-Runtime.json
Hazard/vendor/Glad/bin
HazardEditor/library/
