
.vs
bin
bin-int
/vendor
Hazard/vendor

/*.vcxproj.*
**/*.vcxproj

Logs/HazardProfile-Startup.json
Logs/HazardProfile-Shutdown.json
Logs/HazardProfile-Runtime.json
HazardEditor/library/
HazardScripting/obj/**
Scripts/__pycache__/**
*.DS_Store
*.pyc
*.log
*.obj
*.pdb
*.lastbuildstate
*.tlog
*.plist
*.xcsettings
*.xcworkspacedata
*.xcuserstate
*.pbxproj
Makefile
**.log
*.cache
*.txt
*.dll
!scripts/res/*.dll
*.filters
*.user
*.cs
!HazardScripting/**/**.cs
*.lib
*.lastbuildstate
*.filters
*.pdb
*.obj
!HazardEditor/res/**/*.obj
*.xcscheme
*.xcbkptlist
Hazard/vendor/Optick
*.hzrche
*.hzrcfg
